{% extends 'base.html.twig' %}

{% block title %}Correct Transcript {{ transcript.id }}{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('correct_react') }}
{% endblock %}

{% block body %}
    <div id="transcript_id">{{ transcript.id }}</div>
    <h3>Correct Transcript #{{ transcript.id }} {{ transcript.filename }}</h3>

    <div id="correct-app">App</div>


{% endblock %}
